#header{
    
    min-height: 8rem;
    width: 100%;
    display: flex;
    flex-flow: wrap-reverse;
    border: 0rem red solid;
    padding: 0.5rem;
    margin: 0rem;
    max-width: 100rem; 
    flex-direction: row;
    justify-content: space-between;
}
div{
    display: flex;
    margin:0rem;
    padding: 0p;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type:square;
    
}
li{
    color: #ee3739;

}

.global{
    padding:0rem;
    margin: 0rem;
    width: 100%;
    flex-direction: column;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f9f7f5;
    align-items: center;
}

body{
    margin: 0rem;
    padding: 0rem;
    display: flex;
}
#logoImage{
    width: auto;
    height: auto;
    display: block;
    height: 10rem;
    max-height: 100%;
    box-shadow: 0rem 0.1rem 0.2rem 0.1rem #999999;
    margin: 0.2rem;
}

.menu{
    padding: 0rem;
    margin: 0rem;
    min-height: 0rem;
   /* width: auto;*/
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu .item, .menuliens .itemlien{
    border:blue 0rem solid;
    width: 10rem;
    min-width: 10rem;
    height: 3rem;
    min-height: 3rem;
    margin: 0.2rem; 
    
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.1rem 0.2rem 0.1rem #999999;
}
.menuliens{
    padding: 0rem;
    margin: 0rem;
    min-height: 0rem;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}



a{
    text-decoration: none;
    font-weight: bold;
    color: #ee3739;
    
}

#container{
    width:100%;
    max-width: 80rem;
    flex-direction: column;
    padding: 0.2rem;
    align-items: stretch;
    display: none;
}

.etage{
    margin: 0.2rem;
    margin-top: 1rem;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0rem 0.1rem 0.2rem 0.1rem #999999;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#boxes{
    margin: 0.2rem;
    margin-top: 1rem;
    padding: 0.2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    margin: 10px;
    box-shadow: 0rem 0.1rem 0.2rem 0.1rem #999999;
}

img.button{
    max-width: 100%;
    object-fit:contain;
    overflow: hidden;
}
.textBlock{
    flex-direction: column;
    margin: 0.5rem;
    flex-basis: 30rem;
    flex-grow: 10;
}
.textBlock p{
    margin-block-end: 0.3rem;
    margin-block-start: 0rem;
    font-size: 1.2em;
    
}
.mirageEnd {
    display:none;
}

.imgBlock{
    width: 30rem;
    position: relative;
    flex-basis: 30rem;
    flex-grow: 10;
    min-height: 5rem;
}
.imgBlock img{
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media screen and (min-width:50rem){
   /* .etage div{
        max-width: 50%;
    }*/
}